*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}
 
.container-fluid{

    margin: 0px;
    padding: 0px;
}

.navbar {

    background-color:#a33f40 ;
}

.nav-link {

    color:white

}

.fa-ellipsis-v{

    color: white;
    padding-top: 5px;
}

hr {
    border-color: #2a565b;
    width: 50%;
  


}

.container-fluid{

    margin: 0px;
    padding: 0px;
}

.jumbotron{

    background-color: #a33f40;
    color: white;
}

.btn{

    background-color: white;
    color: #a33f40;
    border-color: white;
}

.img-fluid{

    border-radius: 0.5rem
}


.page-footer{

   background-color:  #3b8088;
   color: white;
   margin-bottom: 0px;  
}

p{
    margin-bottom: 0px;
}

a{
    color: white;
}

#bajotexto{

    border-color: white;
   
}

.my-2{
    list-style-type: none;
}

.fab{

    font-size: 25px;
    
}

#iconocamino{

    font-size: 50px;
    color: #2a565b;
    margin-left: 50%  ;
}

#jumbo-camino{

    color:#a33f40 ;
}

.display-5{

    color:white ;
}

#caminoencabezado{

    color:#a95657 ;
}

.fa-lightbulb{

    color:#3b8088 ;
    font-size: 60px;    
}

.fa-user{

    color:#3b8088 ;
    font-size: 60px; 
}

.fa-paint-brush{

    color:#3b8088 ;
    font-size: 60px; 
}

.fa-lightbulb:hover{

    color: #2a565b;
}

.fa-user:hover{

    color: #2a565b;
}

.fa-paint-brush:hover{

    color: #2a565b;
}

#mihistoria{

    color:#a33f40 ;
}

#logodracu{

    max-width: 100%;
}

#trabajoencabezado{

    color: #a95657 ;
}